energyplus-mcp-server/n8n/Add Form Template v0.5.json
{
  "name": "Add Form Template v0.5",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ],
      "id": "2b109f80-70f6-47ff-8d9e-5f1fd706b395",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b3469294-e085-460d-9bda-33a5ae13ff94",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        240
      ],
      "id": "3d3011ab-86de-4769-91d9-2e1b681514f6",
      "name": "Webhook Trigger",
      "webhookId": "b3469294-e085-460d-9bda-33a5ae13ff94"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"run_id\": \"AddTemplate-{{ $now.format('yyyy-MM-dd_HH-mm') }}\",\n  \"title\": \"Anglian Water Connection\",\n  \"description\": \"Anglian - Application for a new water connection\",\n  \"template_ref\": \"WCN-001\",\n  \"source_site\": \"https://anglianwater.co.uk\",\n  \"version\": \"1.0\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        0
      ],
      "id": "d51969cc-805f-46d2-9266-e8b6efed4966",
      "name": "Default Params"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"run_id\": \"{{ $json.body.run_id || 'AddTemplate-' + $now.format('yyyy-MM-dd_HH-mm') }}\",\n  \"title\": \"{{ $json.body.title || '' }}\",\n  \"description\": \"{{ $json.body.description || '' }}\",\n  \"template_ref\": \"{{ $json.body.template_ref || '' }}\",\n  \"source_site\": \"{{ $json.body.source_site || '' }}\",\n  \"version\": \"{{ $json.body.version || '1.0' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        240
      ],
      "id": "94336214-4527-4600-8d87-d9bd02cc59d0",
      "name": "Extract Webhook Params"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst params = item.json;\n\n// Validate required fields\nif (!params.title) {\n  throw new Error('Missing required field: title');\n}\nif (!params.description) {\n  throw new Error('Missing required field: description');\n}\n\n// Generate template_ref from title if not provided\nlet template_ref = params.template_ref;\nif (!template_ref) {\n  template_ref = params.title\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .substring(0, 50);\n}\n// Sanitise the original filename for safe URL usage\nconst origName = item.binary?.data?.fileName || 'form.pdf';\nconst ext = origName.substring(origName.lastIndexOf('.'));\nconst safeName = origName\n  .substring(0, origName.lastIndexOf('.'))\n  .toLowerCase()\n  .replace(/[^a-z0-9]/g, '-')\n  .replace(/-+/g, '-')\n  .replace(/^-|-$/g, '')\n  .substring(0, 60) + ext;\n\nreturn [{\n  json: {\n    run_id: params.run_id,\n    title: params.title,\n    description: params.description,\n    template_ref: template_ref,\n    source_site: params.source_site || '',\n    version: params.version || '1.0',\n    SUPABASE_URL: 'https://egrzvwnjrtpwwmqzimff.supabase.co',\n    SUPABASE_BUCKET: 'panicleDevelop_1',\n    safe_fileName: safeName\n  },\n  binary: item.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        128
      ],
      "id": "d36bff83-c5b3-4d92-818d-2352493d7635",
      "name": "Validate & Merge Config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Validate & Merge Config').item.json.SUPABASE_URL }}/storage/v1/object/{{ $('Validate & Merge Config').item.json.SUPABASE_BUCKET }}/PDF-templates/{{ $('Validate & Merge Config').item.json.template_ref }}/{{ $('Validate & Merge Config').item.json.safe_fileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Validate & Merge Config').item.json.SUPABASE_KEY }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        128
      ],
      "id": "5573b534-b698-4a26-bf45-1528dd21d99f",
      "name": "Upload PDF to Bucket",
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "BYITrEXmevQnyhbp",
          "name": "Supabase account"
        }
      },
      "notes": "Uploads the PDF binary to Supabase Storage.\nRequires Supabase API credentials with service_role key.\nPath: templates/{template_ref}/{filename}"
    },
    {
      "parameters": {
        "jsCode": "// Build the storage path and pass binary through for Discover Fields\nconst config = $('Validate & Merge Config').item.json;\nconst url_link = `PDF-templates/${config.template_ref}/${config.safe_fileName}`;\n\nreturn [{\n  json: {\n    ...config,\n    url_link: url_link\n  },\n  binary: $('Validate & Merge Config').item.binary\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        128
      ],
      "id": "f7e9cbcf-1645-444d-bbe5-5dbd5d13624c",
      "name": "Build Storage URL"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-pdf-form-filler.pdfFormFiller",
      "typeVersion": 1,
      "position": [
        1280,
        128
      ],
      "id": "6d16b9ce-2a3f-4420-8ebc-37ddeb39ea5f",
      "name": "Discover Fields"
    },
    {
      "parameters": {
        "jsCode": "var config = $('Build Storage URL').item.json;\nvar discoverResult = $input.first().json;\n\n// ── Known data-source fields with aliases ──\nvar userFields = [\n  { key: 'first_name', source: 'users', aliases: ['first name', 'forename', 'given name', 'firstname'] },\n  { key: 'last_name', source: 'users', aliases: ['last name', 'surname', 'family name', 'lastname'] },\n  { key: 'position', source: 'users', aliases: ['position', 'job title', 'role'] },\n  { key: 'phone_number', source: 'users', aliases: ['phone number', 'telephone number', 'telephone', 'tel number', 'landline', 'contact number'] },\n  { key: 'email', source: 'users', aliases: ['email', 'email address', 'e-mail', 'e mail'] },\n  { key: 'company_name', source: 'users', aliases: ['company', 'company name', 'organisation', 'organization', 'business name'] },\n  { key: 'company_number', source: 'users', aliases: ['company number', 'company no', 'registration number', 'company reg'] },\n  { key: 'company_address', source: 'users', aliases: ['company address', 'business address', 'registered address'] },\n  { key: 'website', source: 'users', aliases: ['website', 'web site', 'url'] },\n  { key: 'mobile_number', source: 'user_details', aliases: ['mobile', 'mobile number', 'mobile no', 'cell phone', 'mob number'] },\n  { key: 'postcode', source: 'user_details', aliases: ['postcode', 'post code', 'zip code'] },\n  { key: 'title', source: 'user_details', aliases: ['title', 'salutation', 'prefix'] }\n];\n\nvar MIN_FIELD_LEN = 3;\nvar MIN_SCORE = 0.78;\nvar MIN_ALIAS_LEN = 4;\n\n// ── Levenshtein distance ──\nfunction levenshtein(a, b) {\n  var m = a.length, n = b.length;\n  var dp = [];\n  for (var i = 0; i <= m; i++) {\n    dp[i] = [i];\n    for (var j = 1; j <= n; j++) {\n      dp[i][j] = 0;\n    }\n  }\n  for (var j2 = 0; j2 <= n; j2++) { dp[0][j2] = j2; }\n  for (var i2 = 1; i2 <= m; i2++) {\n    for (var j3 = 1; j3 <= n; j3++) {\n      var cost = (a[i2-1] === b[j3-1]) ? 0 : 1;\n      dp[i2][j3] = Math.min(dp[i2-1][j3] + 1, dp[i2][j3-1] + 1, dp[i2-1][j3-1] + cost);\n    }\n  }\n  return dp[m][n];\n}\n\nfunction similarity(a, b) {\n  var maxLen = Math.max(a.length, b.length);\n  if (maxLen === 0) return 1;\n  return 1 - levenshtein(a, b) / maxLen;\n}\n\n// ── Normalise PDF field name ──\nfunction normalise(name) {\n  return name\n    .replace(/^[A-Z0-9]+-/i, '')\n    .replace(/[_-]/g, ' ')\n    .replace(/\\d+$/g, '')\n    .replace(/[^a-zA-Z0-9 ]/g, '')\n    .toLowerCase()\n    .trim();\n}\n\n// ── Extract section prefix (e.g. A1, B2, Section1) ──\nfunction getSection(name) {\n  var m = name.match(/^([A-Z]\\d+)-/i);\n  return m ? m[1].toUpperCase() : '_root';\n}\n\n// ── Build initial mapping ──\nvar initialMapping = discoverResult.fields.map(function(field) {\n  return {\n    pdfField: field.name,\n    fieldType: field.type,\n    dataKey: '',\n    source: '',\n    confidence: '',\n    score: 0,\n    notes: ''\n  };\n});\n\n// ── Fuzzy matching ──\nvar autoMapped = 0;\nvar sectionKeyUsed = {};\n\nfor (var idx = 0; idx < initialMapping.length; idx++) {\n  var entry = initialMapping[idx];\n  if (entry.fieldType === 'checkbox' || entry.fieldType === 'radio') continue;\n\n  var norm = normalise(entry.pdfField);\n  if (norm.length < MIN_FIELD_LEN) continue;\n\n  var section = getSection(entry.pdfField);\n  var bestScore = 0;\n  var bestField = null;\n\n  for (var fi = 0; fi < userFields.length; fi++) {\n    var uf = userFields[fi];\n    for (var ai = 0; ai < uf.aliases.length; ai++) {\n      var alias = uf.aliases[ai];\n      var score = 0;\n\n      // Exact match after normalisation\n      if (norm === alias) {\n        score = 1.0;\n      } else {\n        // Levenshtein similarity\n        score = similarity(norm, alias);\n      }\n\n      // Contains-match: field contains the alias or alias contains the field\n      if (score < MIN_SCORE && alias.length >= MIN_ALIAS_LEN) {\n        if (norm.indexOf(alias) >= 0 && alias.length >= norm.length * 0.5) {\n          score = Math.max(score, 0.85);\n        } else if (alias.indexOf(norm) >= 0 && norm.length >= alias.length * 0.5) {\n          score = Math.max(score, 0.82);\n        }\n      }\n\n      // Penalise short aliases to avoid false positives\n      if (alias.length < MIN_ALIAS_LEN && score < 1.0) {\n        score = score * 0.7;\n      }\n\n      if (score > bestScore) {\n        bestScore = score;\n        bestField = uf;\n      }\n    }\n  }\n\n  if (bestScore >= MIN_SCORE && bestField) {\n    // Section dedup: only map first occurrence of each dataKey per section\n    var sectionKey = section + ':' + bestField.key;\n    if (!sectionKeyUsed[sectionKey]) {\n      sectionKeyUsed[sectionKey] = true;\n      entry.dataKey = bestField.key;\n      entry.source = bestField.source;\n      entry.score = Math.round(bestScore * 100) / 100;\n      if (bestScore >= 0.95) {\n        entry.confidence = 'high';\n      } else if (bestScore >= 0.85) {\n        entry.confidence = 'medium';\n      } else {\n        entry.confidence = 'low';\n      }\n      entry.notes = 'auto-mapped (fuzzy)';\n      autoMapped++;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    template_ref: config.template_ref,\n    title: config.title,\n    description: config.description,\n    url_link: config.url_link,\n    source_site: config.source_site,\n    version: config.version,\n    input_field_list: {\n      fields: discoverResult.fields,\n      fieldCount: discoverResult.fieldCount\n    },\n    source_to_template_mapping: initialMapping,\n    auto_mapped_count: autoMapped,\n    unmapped_count: initialMapping.length - autoMapped\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        128
      ],
      "id": "9e5013af-9233-4a58-becd-7f4754f5a3cf",
      "name": "Build Initial Mapping"
    },
    {
      "parameters": {
        "jsCode": "var mapping = $('Build Initial Mapping').first().json;\nvar dbRecord = $input.first().json;\nvar excelBinary = $('Write Mapping Excel').first().binary;\n\nvar highConf = 0, medConf = 0, lowConf = 0;\nvar mapped = mapping.source_to_template_mapping || [];\nfor (var i = 0; i < mapped.length; i++) {\n  if (mapped[i].confidence === 'high') highConf++;\n  else if (mapped[i].confidence === 'medium') medConf++;\n  else if (mapped[i].confidence === 'low') lowConf++;\n}\n\nvar unmappedCount = mapping.unmapped_count || 0;\n\nvar msg = 'Template ' + mapping.template_ref + ' catalogued successfully. ' + mapping.auto_mapped_count + ' fields auto-mapped (' + highConf + ' high, ' + medConf + ' medium, ' + lowConf + ' low confidence), ' + unmappedCount + ' fields need manual mapping. Mapping Excel and Extended Info Excel attached.';\n\nreturn [{\n  json: {\n    status: 'success',\n    message: msg,\n    template_id: dbRecord.id,\n    template_ref: mapping.template_ref,\n    title: mapping.title,\n    field_count: mapping.input_field_list.fieldCount,\n    auto_mapped: mapping.auto_mapped_count,\n    confidence_breakdown: { high: highConf, medium: medConf, low: lowConf },\n    needs_mapping: unmappedCount,\n    url_link: mapping.url_link,\n    mapping_excel: mapping.template_ref + '_mapping.xlsx',\n    extended_info_excel: mapping.template_ref + '_extended_info.xlsx',\n    extended_info_path: 'PDF-templates/' + mapping.template_ref + '/' + mapping.template_ref + '_extended_info.xlsx',\n    next_step: 'Two Excel files generated: (1) Mapping Excel - edit column F to override auto-mappings, then run Allocate Form Mapping. (2) Extended Info Excel - fill columns D-E with new data keys and values for a specific user, save as {ref}-Extended-info-{user_id}.xlsx, then run Update Extended Data.'\n  },\n  binary: excelBinary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3408,
        128
      ],
      "id": "561bbcd1-531f-409d-90f5-cbb9d55f3a05",
      "name": "Return Summary"
    },
    {
      "parameters": {
        "filePath": "C:\\Users\\gaierr\\Energy_Projects\\projects\\n8n-nodes-pdf-form-filler\\test\\fixtures\\aws-new-water-connection-form-2023-sm.pdf"
      },
      "id": "c73ff875-cc3f-46fd-80bc-0743ce04af77",
      "name": "Read PDF",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        336,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "054f32c1-478c-4134-af32-430ef557b7f3",
              "leftValue": "={{ $json.fieldCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1504,
        128
      ],
      "id": "cf17ca7d-145a-4c9c-b675-255b5282f7ba",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Build Storage URL').item.json;\nconst msg = 'PDF ' + config.safe_fileName + ' has no fillable AcroForm fields. This is likely an XFA-only form. The file was uploaded to storage but no template record was created.';\n\nreturn [{\n  json: {\n    status: 'skipped',\n    message: msg,\n    template_ref: config.template_ref,\n    title: config.title,\n    url_link: config.url_link,\n    field_count: 0,\n    hint: 'XFA forms use XML Forms Architecture that pdf-lib cannot read. Convert to AcroForm format or use a different PDF.'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        320
      ],
      "id": "b9753de5-e1ad-4d9d-8e2a-4340078d250d",
      "name": "No Fields Found"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Validate & Merge Config').item.json.SUPABASE_URL }}/rest/v1/pdf_ff_templates?on_conflict=template_ref",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation,resolution=merge-duplicates"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ template_ref: $('Build Initial Mapping').first().json.template_ref, title: $('Build Initial Mapping').first().json.title, description: $('Build Initial Mapping').first().json.description, url_link: $('Build Initial Mapping').first().json.url_link, source_site: $('Build Initial Mapping').first().json.source_site, input_field_list: $('Build Initial Mapping').first().json.input_field_list, source_to_template_mapping: $('Build Initial Mapping').first().json.source_to_template_mapping, version: $('Build Initial Mapping').first().json.version }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3168,
        128
      ],
      "id": "77dca702-5fb6-4c77-ae98-f60cd8c4c948",
      "name": "Insert Template Record",
      "credentials": {
        "supabaseApi": {
          "id": "BYITrEXmevQnyhbp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var mapping = $input.first().json;\nvar entries = mapping.source_to_template_mapping || [];\nvar rows = [];\n\nfor (var i = 0; i < entries.length; i++) {\n  var e = entries[i];\n  var autoMapped = '';\n  if (e.dataKey && e.dataKey !== '') {\n    autoMapped = e.dataKey + ' [' + e.source + ']';\n  }\n  rows.push({\n    json: {\n      'PDF Field Name': e.pdfField,\n      'Field Type': e.fieldType || '',\n      'Auto-Mapped (data_key [source])': autoMapped,\n      'Confidence': e.confidence || '',\n      'Score': e.score || '',\n      'Manual Override (data_key [source])': '',\n      'Notes': e.notes || ''\n    }\n  });\n}\n\nreturn rows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        -100
      ],
      "id": "a1b2c3d4-excel-format-rows",
      "name": "Format Excel Rows"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $('Build Initial Mapping').first().json.template_ref }}_mapping.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2208,
        -100
      ],
      "id": "e5f6a7b8-excel-write-file",
      "name": "Write Mapping Excel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://egrzvwnjrtpwwmqzimff.supabase.co/storage/v1/object/panicleDevelop_1/PDF-templates/{{ $('Build Initial Mapping').first().json.template_ref }}/{{ $('Build Initial Mapping').first().json.template_ref }}_mapping.xlsx",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-upsert",
              "value": "true"
            },
            {
              "name": "Content-Type",
              "value": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2448,
        -100
      ],
      "id": "f9a0b1c2-upload-mapping-excel",
      "name": "Upload Mapping Excel",
      "credentials": {
        "supabaseApi": {
          "id": "BYITrEXmevQnyhbp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var mapping = $('Build Initial Mapping').first().json;\nvar entries = mapping.source_to_template_mapping || [];\nvar unmapped = [];\n\nfor (var i = 0; i < entries.length; i++) {\n  var e = entries[i];\n  if (!e.dataKey || e.dataKey === '') {\n    unmapped.push(e);\n  }\n}\n\nreturn [{\n  json: {\n    template_ref: mapping.template_ref,\n    unmapped_fields: unmapped,\n    unmapped_count: unmapped.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        200
      ],
      "id": "v05-filter-unmapped",
      "name": "Filter Unmapped Fields"
    },
    {
      "parameters": {
        "jsCode": "var data = $input.first().json;\nvar unmappedFields = data.unmapped_fields || [];\nvar rows = [];\n\nfor (var i = 0; i < unmappedFields.length; i++) {\n  var field = unmappedFields[i];\n  rows.push({\n    json: {\n      'PDF Field Name': field.pdfField,\n      'Field Type': field.fieldType || '',\n      'Auto-Mapped (data_key [source])': '',\n      'Extended data source': '',\n      'Extended data value': ''\n    }\n  });\n}\n\nif (rows.length === 0) {\n  rows.push({\n    json: {\n      'PDF Field Name': '(all fields auto-mapped)',\n      'Field Type': '',\n      'Auto-Mapped (data_key [source])': '',\n      'Extended data source': '',\n      'Extended data value': ''\n    }\n  });\n}\n\nreturn rows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        200
      ],
      "id": "v05-format-extended-rows",
      "name": "Format Extended Info Rows"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $('Build Initial Mapping').first().json.template_ref }}_extended_info.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2928,
        200
      ],
      "id": "v05-write-extended-excel",
      "name": "Write Extended Info Excel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://egrzvwnjrtpwwmqzimff.supabase.co/storage/v1/object/panicleDevelop_1/PDF-templates/{{ $('Build Initial Mapping').first().json.template_ref }}/{{ $('Build Initial Mapping').first().json.template_ref }}_extended_info.xlsx",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-upsert",
              "value": "true"
            },
            {
              "name": "Content-Type",
              "value": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3168,
        200
      ],
      "id": "v05-upload-extended-excel",
      "name": "Upload Extended Info Excel",
      "credentials": {
        "supabaseApi": {
          "id": "BYITrEXmevQnyhbp",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Default Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Webhook Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Params": {
      "main": [
        [
          {
            "node": "Read PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Webhook Params": {
      "main": [
        [
          {
            "node": "Read PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Merge Config": {
      "main": [
        [
          {
            "node": "Upload PDF to Bucket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PDF to Bucket": {
      "main": [
        [
          {
            "node": "Build Storage URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Storage URL": {
      "main": [
        [
          {
            "node": "Discover Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discover Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Initial Mapping": {
      "main": [
        [
          {
            "node": "Format Excel Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Unmapped Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Excel Rows": {
      "main": [
        [
          {
            "node": "Write Mapping Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Mapping Excel": {
      "main": [
        [
          {
            "node": "Upload Mapping Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Mapping Excel": {
      "main": [
        [
          {
            "node": "Insert Template Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unmapped Fields": {
      "main": [
        [
          {
            "node": "Format Extended Info Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Extended Info Rows": {
      "main": [
        [
          {
            "node": "Write Extended Info Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Extended Info Excel": {
      "main": [
        [
          {
            "node": "Upload Extended Info Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDF": {
      "main": [
        [
          {
            "node": "Validate & Merge Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Build Initial Mapping",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Fields Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Template Record": {
      "main": [
        [
          {
            "node": "Return Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "v0.5-2026-02-20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0821db230f4e2311b0b89e42a29af9f42d365450a0a940495f8bb726d5a5a538"
  },
  "id": "AddFormTemplate05",
  "tags": []
}