energyplus-mcp-server/n8n/EnergyPlus Test v0.1.json
{
  "name": "EnergyPlus Test",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ],
      "id": "0689aa62-885e-4c08-8b78-ea646e50cabb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.API_BASE_URL }}/health",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "aebd0b8b-6491-45f4-a1f6-e3b5b76110c5",
      "name": "Health Check"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.API_BASE_URL }}/api/models/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_name\": \"{{ $('Config').item.json.project_name }}\",\n  \"location\": {\n    \"latitude\": {{ $('Config').item.json.latitude }},\n    \"longitude\": {{ $('Config').item.json.longitude }},\n    \"site_name\": \"{{ $('Config').item.json.location_name }}\"\n  },\n  \"building_type\": \"{{ $('Config').item.json.building_type }}\",\n  \"data_center\": {\n    \"rack_count\": {{ $('Config').item.json.data_center.rack_count }},\n    \"watts_per_rack\": {{ $('Config').item.json.data_center.watts_per_rack }}\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1264,
        0
      ],
      "id": "a5f777f5-e332-4b4c-9e11-da59e45f88da",
      "name": "Generate Model"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.API_BASE_URL }}/api/weather/fetch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"latitude\": {{ $('Config').item.json.latitude }},\n  \"longitude\": {{ $('Config').item.json.longitude }},\n  \"location_name\": \"{{ $('Config').item.json.location_name }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        0
      ],
      "id": "2d0dd387-1d3c-43ea-a6a2-5048068b6a3f",
      "name": "Fetch Weather"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.API_BASE_URL }}/api/simulation/run",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "idf_path",
              "value": "={{ $('Generate Model').item.json.output_path}}"
            },
            {
              "name": "weather_file",
              "value": "={{ $('Fetch Weather').item.json.epw_path }}"
            },
            {
              "name": "annual",
              "value": "false"
            },
            {
              "name": "design_day",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1680,
        0
      ],
      "id": "510bec9c-d966-45ef-a487-b24f108e5edd",
      "name": "Run Simulation",
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.API_BASE_URL }}/api/simulation/results/summary",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "output_directory",
              "value": "={{ $('Run Simulation').item.json.output_directory }}"
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2176,
        -16
      ],
      "id": "2c1e1234-e5c2-49de-97ec-515e40b38d48",
      "name": "Summary Results"
    },
    {
      "parameters": {
        "errorMessage": "Server health check failed. Check if HTTP server and ngrok are running."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        624,
        224
      ],
      "id": "9c80d77a-10cd-4fda-a01f-244eb386333c",
      "name": "Server Unavailable"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"API_BASE_URL\": \"{{ $json.data.replace(/\"/g, '') }}\",\n  \"last_updated\": \"{{ new Date().toISOString() }}\",\n  \"latitude\": 52.2053,\n  \"longitude\": 0.1218,\n  \"location_name\": \"Cambridge_UK\",\n  \"project_name\": \"n8n Test Data Center\",\n  \"building_type\": \"data_center\",\n  \"data_center\": {\n    \"rack_count\": 25,\n    \"watts_per_rack\": 2000\n  },\n  \"report_type\": \"summary\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "2336ac60-7ea7-423b-b7e5-da22dc73c540",
      "name": "Config",
      "notesInFlow": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5068b8a5-9526-444e-a806-44fe7480bee1",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        0
      ],
      "id": "18043515-6378-48f5-a8ec-83c758c8793a",
      "name": "Check Weather"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7a7a4be1-d11e-44e8-a243-350b208c1cf7",
              "leftValue": "={{ $json.status }}",
              "rightValue": "healthy",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "18271295-cb78-495a-9267-26c45a006bde",
      "name": "Check Services"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2cc96f8-2ce9-4886-a9eb-7a84fda43a45",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1472,
        0
      ],
      "id": "368bd581-5913-4e1d-8466-d0d847a2d4d8",
      "name": "Check Model"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fdae03b2-762d-4dc8-87d4-62a3ca47974e",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1888,
        0
      ],
      "id": "848551a5-c11a-4a77-8975-e54e30f21d0d",
      "name": "Check Simulation"
    },
    {
      "parameters": {
        "errorMessage": "=Simulation failed: {{ $json.error || $json.detail || 'Unknown error' }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1888,
        224
      ],
      "id": "50d72850-5a52-434f-b067-30d837c679d3",
      "name": "Simulation Failed"
    },
    {
      "parameters": {
        "errorMessage": "=Model generation failed: {{ $json.error || $json.detail || 'Unknown error' }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1472,
        224
      ],
      "id": "502000a4-d668-49c1-8855-8d9ae913daa6",
      "name": "Model Generation Failed"
    },
    {
      "parameters": {
        "errorMessage": "=Weather fetch failed: {{ $json.error || $json.detail || 'Unknown error' }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1040,
        224
      ],
      "id": "23ec2f86-3ad7-4c5c-8010-e0c49de45fca",
      "name": "Weather Fetch Failed"
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/1XdLm6f9EY_AK6a6M4zH2Md4TzE3bSvTH-mXD6vL0KpE/gviz/tq?tqx=out:csv&range=B1\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        0
      ],
      "id": "380e3a82-736b-470b-a443-6eaa2f032060",
      "name": "Get ngrok URL"
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.API_BASE_URL }}/api/simulation/results",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "output_directory",
              "value": "={{ $('Run Simulation').item.json.output_directory }}"
            },
            {
              "name": "include_timeseries",
              "value": "=false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2448,
        -16
      ],
      "id": "fcee8bae-e02e-43e2-8314-990cc1e0d6be",
      "name": "Get Full Results"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fdae03b2-762d-4dc8-87d4-62a3ca47974e",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2912,
        -16
      ],
      "id": "15f5c490-ae74-4390-a658-1fa5556cc69c",
      "name": "Check Supabase Copy"
    },
    {
      "parameters": {
        "errorMessage": "=Simulation failed: {{ $json.error || $json.detail || 'Supabase copy failed' }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2912,
        224
      ],
      "id": "e98f1d55-9909-4fff-95fb-9b0b50f5a141",
      "name": "Supabase Copy Failed"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.API_BASE_URL }}/api/export/supabase",
        "sendBody": true,
        "specifyBody": "=keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_folder",
              "value": "={{ $('Run Simulation').item.json.output_directory }}"
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2656,
        -16
      ],
      "id": "48063bad-b8dd-4d66-9502-532e56603cb2",
      "name": "Export to Supabase"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get ngrok URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "Check Services",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Weather": {
      "main": [
        [
          {
            "node": "Check Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Model": {
      "main": [
        [
          {
            "node": "Check Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Simulation": {
      "main": [
        [
          {
            "node": "Check Simulation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Weather": {
      "main": [
        [
          {
            "node": "Generate Model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Weather Fetch Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Services": {
      "main": [
        [
          {
            "node": "Fetch Weather",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Server Unavailable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Model": {
      "main": [
        [
          {
            "node": "Run Simulation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Model Generation Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Simulation": {
      "main": [
        [
          {
            "node": "Summary Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Simulation Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ngrok URL": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Results": {
      "main": [
        [
          {
            "node": "Get Full Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Results": {
      "main": [
        [
          {
            "node": "Export to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Supabase Copy": {
      "main": [
        [],
        [
          {
            "node": "Supabase Copy Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export to Supabase": {
      "main": [
        [
          {
            "node": "Check Supabase Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a81e41d3-c65e-4754-bf9b-144e470f09bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a31eed7b82cb7f448f2abc5a538a777a1f9a344ccc5df5f3741cf94e7885baa"
  },
  "id": "ma3iJoojvMvO9gUF",
  "tags": []
}